p {
    font-family: sans-serif;
    font-size: 10pt;
    color: #000;
    
}

.first-card {
border: 3px solid #888;
padding: 10px;
border-radius: 10px;
margin-bottom: 18px;
margin-right: 10;
background-color: #d6d6cd;
width: 450;
height: 510;
vertical-align: top;
display: inline-block

}


.second-card {
border: 3px solid #888;
padding: 10px;
border-radius: 10px;
margin-bottom: 18px;
margin-right: 10;
background-color: #d6d6cd;
width: 450; 
height: 510;
display: inline-block
}

.add-to-cart {

    background-color: rgb(108, 218, 100);
    font-family: monospace;
}

.Ergonomic-chair {

 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.Newyork-chair {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}